#aquaTheme #topBar {
    background-image: url('./background-aqua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#aquaTheme #topBar .logo {
    content: url('./gym-aqua.png');
    max-width: 5.5rem;
    margin-top: -12px;
}

#aquaTheme #topBar .cart-button {
    border-color: #007bff;
    color: #fff;
    font-weight: 700;
    background-color: rgba(0, 123, 255,0.7);
}

#aquaTheme #topBar .cart-button .badge-light {
    color: #007bff;
    margin-left: 5px;
}


#aquaTheme #topBar .cart-button .btn-outline-info {
    color: #007bff;
    border-color: #007bff;
}

#aquaTheme #topBar .cart-button .btn-outline-info.focus, 
#aquaTheme #topBar .cart-button .btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255,.5) !important;
}

#aquaTheme #topBar .cart-button .btn.focus, 
#aquaTheme #topBar .cart-button .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#aquaTheme #searchBar .btn-primary {
    color: #fff;
    font-weight: 700;
    background-color: rgba(0, 123, 255,0.7);
    border-color: rgba(0, 123, 255, 1);
}

#aquaTheme #sideBarContainer {
    background-color: rgba(0, 123, 255,0.8);
}

#aquaTheme #sideBarContainer .pokemon-cart-list .pokemon-item-name {
    text-transform: capitalize;
}

#aquaTheme #sideBarContainer .pokemon-cart-list .close-button svg:hover {
    color: #4682B4;
}

#aquaTheme .pokemon-list .pokemon-list-item .btn {
    color: #fff;
    background-color: rgba(0, 123, 255,0.8);
    border-color: rgba(0, 123, 255,0.8);
}

#aquaTheme .container-pokemon-item:hover {
    background-color: #ADD8E6;
}

#aquaTheme a.page-link:hover {
    background-color: rgba(0, 123, 255,0.6);
}

#aquaTheme .modal-content {
    background: #F5F5F5;
    border: 18px solid rgba(0, 123, 255,0.13);
}